body{
    background:#d7f4ff;
    font-family: "Roboto Mono", monospace;
}

input{
    font-family: "Roboto Mono";
    padding:.4em;
    font-size:14px;
}

input[type=text]{
    width:50%;
    border: 2px solid rgb(176, 163, 212);
    border-radius:8px;
}

h1{
    font-family:"Chango";
    padding:10px;
    color:#8b81a6;
}

@font-face {
    font-family:"typographica";
    src: url(assets/TypoGraphica_demo.otf);
}

@font-face {
    font-family:"chaolphabet";
    src: url(assets/Chaolphabet.ttf);
}

.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#maincontainer{
    text-align:center;
    max-width:fit-content;
    margin:auto;
}

#canvasbox{
    font-family:"Roboto Mono";
}

#popup{
    position:fixed;
    left:2vw;
    top:4vh;
    background:white;
    width:20%;
    visibility:hidden;
}