body {
    background:#ffffff;
    /* background-image:url("assets/Chao_In_Space_Garden.jpg");
    background-repeat:no-repeat;
    background-size:cover; */
    font-family: "Roboto Mono", monospace;
}

input {
    font-family: "Roboto Mono";
    padding:.4em;
    font-size:14px;
}

input[type=text]{
    width:50%;
    border: 2px solid rgb(123, 110, 159);
    border-radius:8px;
}

h1 {
    font-family:"Chango";
    padding:10px;
    color:#ABE8FF;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #556690;
}

a {
    text-decoration:none;
    color:#556690;
}

a:hover {
    color:#ABE8FF;
}

@font-face {
    font-family:"typographica";
    src: url(assets/TypoGraphica_demo.otf);
}

@font-face {
    font-family:"chaolphabet";
    src: url(assets/Chaolphabet.ttf);
}

.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.libre-barcode-39-regular {
  font-family: "Libre Barcode 39", system-ui;
  font-weight: 400;
  font-style: normal;
}

.leftside {
    position:fixed;
    margin-left:8%;
    left:20px;
    top:6px;
}

.rightside {
    position:fixed;
    right:20%;
    top:2.6%;
    text-align:right;
    align-content:right;
    padding:10px;
}

#headerbar {
    margin-bottom:7%;
    padding:10px;
}

#linkgrid {
    padding:20px;
    display:inline-grid;
    grid-template-columns:repeat(6,auto);
    grid-column-gap:40%;
}

#maincontainer {
    text-align:center;
    max-width:fit-content;
    margin:auto;
}

#homecontainer {
    margin:auto;
}

#canvasbox {
    font-family:"Roboto Mono";
    padding:6px;
    border:2px solid rgb(176, 163, 212);
    border-radius:10px;
    background:#d7f4ff;
    margin-bottom:10px;
}

#centerbox {
    visibility:hidden;
}

#popup {
    position:fixed;
    padding:20px;
    border:2px solid rgb(176, 163, 212);
    right:28%;
    top:36%;
    background:rgba(255, 255, 255, 0.511);
    width:20%;
    visibility:hidden;
}

#savebttn {
    visibility:hidden;
    font-family: "Roboto Mono";
    padding:.4em;
    font-size:14px;
}